* {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  /*background-color: black;*/

}

h3 {
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-size: 23px;
  font-weight: bold;
}

h6 {
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
  padding: 3px;
}

p {
  font-size: 14px;
}

li {
  list-style-type: none;
  padding: 5px 0;
  margin-left: -40px;
}

.headlist {
  font-size: 18px;
  color: white;
  text-decoration: underline;
}

.contactlist {
  font-size: 14px;
}

.header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-color: black;
}

#footnav {
  text-decoration: underline;
  font-weight: bold;
}
